name: build
on: pull_request
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: np-complete/build-book-action@v2
      - run: bundle exec rake pdf
      - uses: actions/upload-artifact@v6
        with:
          name: book
          path: book.pdf
